# -------------------------------------------------------
# Python
# -------------------------------------------------------

__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------------------------------------
# Virtual Environment
# -------------------------------------------------------

venv/

# -------------------------------------------------------
# Git
# -------------------------------------------------------

.git/
.gitignore

# -------------------------------------------------------
# IDE
# -------------------------------------------------------

.vscode/
.idea/

# -------------------------------------------------------
# Pytest
# -------------------------------------------------------

.pytest_cache/

# -------------------------------------------------------
# Logs
# -------------------------------------------------------

*.log

# -------------------------------------------------------
# Build Artifacts
# -------------------------------------------------------

build/
dist/

# -------------------------------------------------------
# Operating System
# -------------------------------------------------------

.DS_Store
Thumbs.db

# -------------------------------------------------------
# Local Chroma Database
# Will be mounted as a Docker Volume later
# -------------------------------------------------------

chroma_db/

# -------------------------------------------------------
# Local Documents
# Will be mounted as a Docker Volume later
# -------------------------------------------------------

documents/