# ==========================
# Python Environment
# ==========================

venv/
ENV/
env/


# ==========================
# Environment Variables
# ==========================

.env
*.env


# ==========================
# Python Cache
# ==========================

__pycache__/
*.py[cod]
*.pyo
*.pyd


# ==========================
# IDE
# ==========================

.vscode/
.idea/


# ==========================
# RAG / Vector Database
# ==========================

chroma_db/


# ==========================
# DeepEval Artifacts
# ==========================

.deepeval/


# ==========================
# Logs
# ==========================

*.log


# ==========================
# Model Cache
# ==========================

models/
.cache/


# ==========================
# OS Files
# ==========================

.DS_Store
Thumbs.db